@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Beth Ellen", cursive; */
}

body {
  width: 100vw;
  height: 100vh;

  background: white;
  user-select: none;
  -webkit-app-region: drag;

  min-height: 100dvh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.app {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.description img {
  transform: rotate(170deg);
  width: clamp(130px, 5vh, 500px);
}

.description img:hover {
  cursor: pointer;
  transform: rotate(175deg) scale(1.03);
  filter: brightness(1.3)  
}
 
.description-card {
  text-align: center;
}

.card {
  display: flex;
  gap: 1.5rem;
} 

.btn-description{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;                  
  width: clamp(300px, 5vh, 500px);
}

.btn {
  border-radius: 8px;
  border: solid 2px rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 0.5rem;
}

.btn:hover {
  font-weight: 700;
  background-color: #d2d5da;
  transition: 0.3s;
}

header {
  -webkit-app-region: drag;

  height: 30px;
  background-color: #83888E;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.btn-bar {
  background: transparent;
  border: none;
  padding: 5px 15px; 
  cursor: pointer";
}

.btn-bar:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.footer-description {
  text-align: center;
}